.header {
	position: sticky;
	z-index: 1;
	top: 0;

	padding: 25px 0;
	margin: auto;

	background-color: $inverseColor;

	border-bottom: 1px solid #ececec;
}

.section-container--header {
	flex-direction: row;
}
